%p 
Name: 
= @user.name
%p 
Email: 
= @user.email

%p 
Here is the 
= link_to "Edit Page", edit_user_registration_path
%p 
Here is the 
= link_to "Chat Page", root_path

%p
Here you can find any user
= link_to "Search User", users_search_path


#react-search

