!!! 5
%html
  %head
    %title ChatApp
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet' }/
    = javascript_include_tag 'application'
    = javascript_include_tag '/assets/javascripts/boot.js'
    = csrf_meta_tags
  %body
    .header
      %div.header-logo
        = link_to "Chat App", root_path
      %div.header-list
        %ul
          %li.dropdown
            = link_to "Account", "#", {:class => 'dropdown-toggle', "data-toggle" => "dropdown"} if user_signed_in?
            %ul.dropdown-menu
              %li
                = link_to "My Page", user_path(@user) if user_signed_in?
              %li
                = link_to "Log out", destroy_user_session_path, method: :delete if user_signed_in?
          %li
            = link_to "Search User", users_search_path if user_signed_in?
    = yield